@charset 'utf-8';
@import 'font.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
	word-break: keep-all;
    letter-spacing: -0.025em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    display: block;
}
a,
button {
    cursor: pointer;
    outline: unset;
}


$font: 'Noto Sans KR';

/* ===========================================================
   Section: SCSS 변수 - 전경색
   Description: 전경색 정의를 위한 SCSS 변수 설정
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */
$fg-black: #111111;
$fg-white: #ffffff;

/* ===========================================================
   Section: SCSS 변수 - 배경색 [background]
   Description: 배경색 정의를 위한 SCSS 변수 설정
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */
$bg-black: #111111;
$bg-white: #ffffff;

$brand: #7D67FF;

$label-primary: #111111;
$label-secondary: #5F5F5F;
$label-teriary: #898989;

$line: #E3E3E3;

$medium: 400;
$bold: 600;

$label-title: $medium 14px/18px $font;
$label-body: $medium 12px/20px $font;

$mb-t1-sb: $bold 16px/24px $font;
$mb-t1-rg: $medium 16px/24px $font;

$mb-h2-sb: $bold 24px/34px $font;
$mb-h2-rg: $medium 24px/34px $font;
$mb-h3-sb: $bold 20px/28px $font;

$btn: 500 16px/24px $font;

// NOTE: 데이트피커 커스텀
.ui-datepicker{
    &-header{
        display: flex;
        align-items: center;
        .ui{
            &-corner-all{
                text-indent: -9999px;
                width: 48px;
                aspect-ratio: 1;
                background: url(/resources/images/icons/datepicker/ic-prev.svg) center/24px no-repeat;
                &.ui-datepicker-next{
                    background-image: url(/resources/images/icons/datepicker/ic-next.svg);
                }
            }
            &-datepicker-title{
                order: -1;
                margin-right: auto;
                select{
                    font: 400 14px/20px $font;
                    letter-spacing: -0.025em;
                    color: $fg-black;
                    padding: 10px 8px;
                    border: unset;
                }
            }
        }
    }
    &-calendar{
        width: 100%;
        tr > *{
            position: relative;
            font: 400 16px/24px $font;
            letter-spacing: -0.025em;
            color: $fg-black;
            padding-block: 12px;
            text-align: center;
            a{
                color: inherit;
            }
        }
        td{
            &.ui-datepicker{
                &-today,
                &-current-day{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 32px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: 1px solid $brand;
                        z-index: -1;
                    }
                }
                &-today{
                    color: $brand;
                }
                &-current-day{
                    color: $fg-white !important;
                    &::before{
                        background-color: $brand;
                    }
                }
            }
        }
    }
}




/* ===========================================================
   Section: 인풋 컴포넌트
   Description: 인풋 컴포넌트 [input;select;checkbox;radio;textarea]
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */

.ipt{
    span{
        display: block;
        font: $label-title;
        color: $label-primary;
        & + div{
            margin-top: 6px;
        }
    }
    input,
    select,
    textarea{
        max-width: 100%;
        flex: 1;
        border: unset;
        outline: unset;
        font: $label-body;
        padding: 14px 16px 14px 0;
        background-color: $bg-white;
        border: 1px solid $line;
        border-radius: 10px;
        text-indent: 16px;
        appearance: unset;
        resize: none;
        &::placeholder{
            color: $label-secondary;
        }
    }
    select{
        padding-right: 44px;
        background: url(/resources/icons/ic-arrow-bottom.svg) right 10px center/24px no-repeat;
        text-indent: unset;
        padding-left: 16px;
        option{
            font: $mb-t1-rg;
        }
        &:not(:only-child){
            width: fit-content;
            flex: 0;
        }
    }
    textarea{
        text-indent: unset;
        padding-left: 16px;
    }
    & > div{
        flex-wrap: wrap;
    }
    & > div,
    label{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    label{
        [type=checkbox],
        [type=radio]{
            display: none;
        }
        span{
            color: $label-secondary;
        }
        &:before{
            display: block;
            content: "";
            font-size: 14px;
            width: 1em;
            aspect-ratio: 1;
            border: 1px solid $brand;
            border-radius: 2px;
            margin: 5px 4px 5px 5px;
            box-sizing: border-boxs;
            background: url(/resources/icons/ic-check.svg) 0 center / 2em no-repeat;
        }
        &:has(:checked){
            &:before{
                background: {
                    color: $brand;
                    position-x: -1em;
                }
            }
        }
    }
    .full{
        flex: 100%;
    }
    &:has(input.box){
        & > div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            label{
                flex: 50%;
                border: 1px solid $line;
                border-radius: 10px;
                justify-content: center;
                flex-direction: column;
                height: 100px;
                color: $label-teriary;
                transition: 0.4s;
                span{
                    font: $mb-h3-sb;
                    color: inherit;
                }
                p{
                    font: $label-body;
                }
                &:before{
                    content: unset;
                }
                &:has(:checked){
                    color: $brand;
                    border-color: $brand;
                    filter: unset;
                    img{
                        transform: scale(1.05);
                    }
                }
            }
        }
        .profile{
            grid-template-columns: repeat(2, 124px);
            gap: 40px 20px;
            justify-content: center;
            label{
                border-radius: 50%;
                height: unset;
                aspect-ratio: 1;
                overflow: hidden;
                filter: grayscale(0.8);
                img{
                    width: 100%;
                    aspect-ratio: 1;
                    object-fit: contain;
                    transition: 0.4s;
                }
            }
        }
    }
}

.btn{
    display: block;
    font: $btn;
    color: $brand;
    background-color: rgba($brand, 0.2);
    padding: 13.5px 16px;
    text-align: center;
    border-radius: 24px;
    &.primary{
        background-color: $brand;
        color: $fg-white;
    }
}

.list{
    display: flex;
    &.tag{
        flex-wrap: wrap;
        gap: 10px 6px;
        justify-content: center;
        input{
            display: none;
        }
        span{
            display: block;
            font: $label-body;
            color: $label-secondary;
            padding: 6px 14px;
            border: 1px solid $line;
            border-radius: 14px;
            transition: 0.4s;
        }
        input:checked + span{
            border-color: $brand;
            color: $brand;
        }
    }
}