@charset 'utf-8';
@import 'font.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
	word-break: keep-all;
    letter-spacing: -0.025em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    display: block;
}
a,
button {
    cursor: pointer;
    outline: unset;
}


$font: 'Noto Sans KR';

/* ===========================================================
   Section: SCSS 변수 - 전경색
   Description: 전경색 정의를 위한 SCSS 변수 설정
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */
$fg-black: #111111;
$fg-white: #ffffff;

/* ===========================================================
   Section: SCSS 변수 - 배경색 [background]
   Description: 배경색 정의를 위한 SCSS 변수 설정
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */
$bg-black: #111111;
$bg-white: #ffffff;

$brand: #7D67FF;

$label-primary: #111111;
$label-secondary: #5F5F5F;
$label-teriary: #898989;

// NOTE: 데이트피커 커스텀
.ui-datepicker{
    &-header{
        display: flex;
        align-items: center;
        .ui{
            &-corner-all{
                text-indent: -9999px;
                width: 48px;
                aspect-ratio: 1;
                background: url(/resources/images/icons/datepicker/ic-prev.svg) center/24px no-repeat;
                &.ui-datepicker-next{
                    background-image: url(/resources/images/icons/datepicker/ic-next.svg);
                }
            }
            &-datepicker-title{
                order: -1;
                margin-right: auto;
                select{
                    font: 400 14px/20px $font;
                    letter-spacing: -0.025em;
                    color: $fg-black;
                    padding: 10px 8px;
                    border: unset;
                }
            }
        }
    }
    &-calendar{
        width: 100%;
        tr > *{
            position: relative;
            font: 400 16px/24px $font;
            letter-spacing: -0.025em;
            color: $fg-black;
            padding-block: 12px;
            text-align: center;
            a{
                color: inherit;
            }
        }
        td{
            &.ui-datepicker{
                &-today,
                &-current-day{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 32px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: 1px solid $brand;
                        z-index: -1;
                    }
                }
                &-today{
                    color: $brand;
                }
                &-current-day{
                    color: $fg-white !important;
                    &::before{
                        background-color: $brand;
                    }
                }
            }
        }
    }
}




/* ===========================================================
   Section: 인풋 컴포넌트
   Description: 인풋 컴포넌트 [input;select;checkbox;radio;textarea]
   Author: yhEun
   Date: 2024.05.16
   =========================================================== */
$label-title: 500 12px/normal $font;
$label-body: 500 14px/normal $font;

.ipt{
    span{
        font: $label-title;
        color: $fg-black;
    }
    input{
        border: unset;
        outline: unset;
        font: $label-body;
        padding: 14px 16px 14px 0;
        background-color: $bg-white;
        border: 1px solid $label-secondary;
        &::placeholder{
            color: $label-secondary;
        }
    }
}