@charset 'utf-8';
@import 'common.scss';

$width-device: 420px;
$height-header: 48px;
$height-footer: 54px;

.wrap{
    max-width: $width-device;
    width: 100%;
    margin: auto;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    height: $height-header;
    background-color: $bg-white;
    z-index: 10;
}
section{
    min-height: calc(100vh - ($height-header + $height-footer));
    padding-block: 16px 10px;
    overflow-x: hidden;
}
footer{
    position: sticky;
    min-height: $height-footer;
    bottom: 0;
    background-color: $bg-white;
    z-index: 10;
}