@charset 'utf-8';
@import 'common.scss';

$width-device: 420px;
$height-header: 48px;
$height-footer: 54px;
$overlay: 10;
$overlay-modal: 100;

.wrap{
    max-width: $width-device;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    padding: 44px 10px 0;
    background-color: $bg-white;
    color: $fg-black;
    z-index: $overlay;
    &,
    ul{
        display: flex;
        align-items: center;
        & ~ ul{
            margin-left: auto;
        }
    }
    img{
        width: 44px;
        aspect-ratio: 1;
        object-fit: cover;
    }
    h1{
        font: $mb-t1-sb;
        flex: 1;
        text-align: center;
    }
    span,
    a,
    p{
        font: $mb-t1-rg;
        color: $fg-black;
        display: block;
        min-width: 44px;
    }
}
section{
    flex: 1;
    overflow-x: hidden;
}
footer{
    background-color: $bg-white;
    z-index: $overlay;
    ul{
        display: flex;
        padding: 12px 20px 40px;
        li{
            flex: 1;
            &:first-child{
                .btn{
                    border: {
                        top-left-radius: 24px;
                        bottom-left-radius: 24px;
                    }
                }
            }
            &:last-child{
                .btn{
                    border: {
                        top-right-radius: 24px;
                        bottom-right-radius: 24px;
                    }
                }
            }
        }
    }   
    .btn{
        border-radius: unset;
    }
}