@charset 'utf-8';
@import 'layout.scss';

.page{
    &-title{
        font: $mb-h2-sb;
        color: $fg-black;
    }
    &-dscpt{
        font: $label-body;
        color: $label-teriary;
    }
}
.sign{
    &-in{
        padding: 10px 20px;
        .ipt-wrap{
            margin-top: 64px;
            .ipt{
                margin-top: 10px;
            }
        }
        .btn-wrap{
            margin-top: 32px;
            p{
                margin-top: 100px;
                font: $label-body;
                text-align: center;
                .btn{
                    margin-left: 8px;
                }
            }
        }
    }
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 82px;
    .page-dscpt{
        margin-top: 10px;
    }
}