@charset 'utf-8';
@import 'layout.scss';

.page{
    &-title{
        font: $mb-h2-sb;
        color: $fg-black;
    }
    &-dscpt{
        font: $label-body;
        color: $label-teriary;
    }
}
.match{
    .page{
        &-title{
            margin-top: 32px;
            padding-inline: 20px;
        }
        &-dscpt{
            margin-top: 8px;
            padding-inline: 20px;
        }
    }
    .ipt-wrap{
        margin-top: 64px;
    }
    .list{
        padding-inline: 24px;
    }
    .ipt{
        padding-inline: 20px;
        margin-top: 20px;
    }
}